<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">
			<%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
			</div>

			<div class="col-md-8">
				<p>Yo fo shizzle diam stuff daahng dawg aliquam mollizzle. Suspendisse potenti. Morbi odio. Break yo neck, yall neque. Bizzle mah nizzle. Shiz maurizzle crackalackin, interdizzle a, feugizzle boofron amizzle, malesuada shizzle my nizzle crocodizzle, pede. </p> 

				<p>Suspendisse i'm in the shizzle break yo neck, yall check it out. Curabitizzle break it down ante. Dang bizzle, break it down eu dapibizzle hendrerit, we gonna chung felizzle crackalackin sizzle, i saw beyonces tizzles and my pizzle went crizzle the bizzle magna felis luctus pede. Crackalackin a things. </p>

			</div>
		</div>
	</div>
</div>
